<!-- <p>directives works!</p>
<div *ngIf="isShow">
  <p>{{ city }}</p>
</div>

<div>{{ cars }}</div>

<div *ngFor="let carName of cars">
  {{ carName }}
</div>
<br />

<div class="div-container" *ngIf="showDiv"></div>
<br />
<button (click)="toggle()">toggle</button>

<div [ngSwitch]="fruit">
  <div *ngSwitchCase="'mango'">my fav fruit is mango</div>
  <div *ngSwitchCase="'pinapple'">my fav fruit is pinapple</div>
  <div *ngSwitchCase="'pappaya'">my fav fruit is pappaya</div>
</div> 
<br>-->
<!-- <div class="info">I like pune</div>  (this is already comment)--> 
<!-- <div class="info adminUser">I like pune</div>
<br>
<div
  [ngClass]="{
    adminUser: user == 'Admin',
    mentorUser: user == 'mentor',
    studentUser: user == 'student'
  }"
>
  welcome to app
</div>
<br> -->
<!-- or -->
<!-- <div [class.adminUser]="user == 'Admin'"
     [class.mentorUser]="user == 'mentor'"                     
     [class.studentUser]="user == 'student'">
    welCome
</div>

<div style="color: black;">
welcome Amravati
</div>

<div [ngStyle]= "user == 'Admin' ? {'background-color': 'yellow'} : {'background-color': 'black'}">
    welcome Amravati
    </div>

   <button (click)="getData()">get adta</button> -->


<div class="table-cont">
<input type="search" [(ngModel)]="searchText">

  <h1>Table</h1>
  <table class="table-cont">
    <tr>
      <th *ngFor=" let headings of tableHeading ">{{headings}}</th>
    </tr>
    <tr *ngFor = "let data of tableData |search : searchText">
      <td>{{data.name}}</td>
      <td>{{data.contact}}</td>
      <td>{{data.City}}</td>
      <td>{{data.age}}</td>

    </tr>
  </table>
</div>
<button routerLink="/admin/adminLanding">admin</button>

